body {
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(195deg, rgb(255, 255, 255) 0%, rgb(171, 255, 174) 100%) !important;
}
body .server-msg {
  margin-left: 10px;
}

.main {
  min-height: calc(100vh - 295px);
}

.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(144, 238, 144, 0);
}

.card {
  margin: auto;
}
.card .short-list {
  position: absolute;
  right: 10px;
  top: 5px;
}
.card .short-list button {
  display: block;
  width: 30px;
  background-color: white;
  margin-bottom: 5px;
}
.card .short-list button:hover {
  background-color: rgb(255, 228, 228);
}
.card .card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*NAVBAR*/
.navbar-light {
  background-color: rgb(154, 255, 154) !important;
  margin-bottom: 20px;
}
.navbar-light .logo-container {
  width: 33%;
}
.navbar-light form button {
  background-color: lightgrey;
}
.navbar-light form button :hover {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light form #dropdown-menu {
  width: 270px;
  padding: 5px;
  max-height: 80px;
  overflow-y: auto;
}
.navbar-light form #dropdown-menu button {
  width: 240px;
  text-align: left;
  white-space: nowrap;
  outline: none;
  background: none;
  border: none;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}

/*MAIN PAGE*/
/*MAIN MENU*/
#menu {
  /*TOGGLE MENUS*/
}
#menu #main-row {
  margin: 0 20px;
}
#menu #menu-column-container {
  float: left;
  background-color: rgb(154, 255, 154);
  z-index: 10;
}
#menu #menu-column {
  text-align: left;
}
#menu .categories {
  border: 2px solid black;
  color: black;
  cursor: pointer;
}
#menu .categories button, #menu .categories a {
  font-weight: bold;
}
#menu .row + .row {
  border-top: 0;
}
#menu #photo-column {
  text-align: center;
  margin-left: auto;
}
#menu #category-photo {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
#menu .categories .btn:hover {
  color: white !important;
}
#menu .categories .menu-btn {
  width: 80% !important;
  background: none;
  border: none;
  text-align: left;
  color: black;
  border-radius: 0;
}
#menu .categories .toggle-btn {
  background: none;
  border: none;
  color: black;
  border-radius: 0;
  text-align: right;
}
#menu .categories .dropdown-menu {
  background-color: rgb(154, 255, 154);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
#menu .dropdown-item {
  color: black;
}
#menu .dropdown-item:hover {
  color: white;
  background-color: transparent;
}

/*NEW*/
#new {
  margin-top: 40px;
  margin-bottom: 30px;
}
#new .row {
  margin: 20px auto;
}
#new .row .col-md-3 {
  margin-bottom: 20px;
}
#new #new-title {
  background-color: rgb(154, 255, 154);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  margin-left: 30px;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

/*RESULTS PAGE*/
#results-table .row {
  margin: 20px auto;
}
#results-table .row .col-md-3 {
  margin-bottom: 20px;
}
#results-table .row .col-md-3 .card h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*PRODUCT PAGE*/
#product-container .row {
  margin-bottom: 50px;
}
#product-container .row .col-md-6 {
  margin-top: 20px;
}
#product-container .row .col-md-6 #product-img {
  display: block;
  margin: auto;
  height: 300px;
  width: 450px !important;
}
#product-container .row .col-md-6 #product {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  padding: 15px;
}
#product-container .row .col-md-6 #product h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
#product-container .row .col-md-6 #product #product-price {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
#product-container .row .col-md-6 #product div {
  margin-bottom: 20px;
}
#product-container .row .col-md-6 #product div h3 {
  display: inline;
  font-size: 16px;
  font-weight: bold;
}
#product-container .row .col-md-6 #product div p {
  display: inline;
}
#product-container .row .col-md-6 #product div input {
  width: 50px;
}
#product-container .row .col-md-6 #product button {
  margin-bottom: 10px;
}
#product-container .row .col-md-6 .row {
  justify-content: center;
}
#product-container .row .col-md-6 .row #product-background {
  padding: 0;
  height: 300px;
  width: 450px;
  background-size: 100% 100%;
}
#product-container .row .col-md-6 .row .col-md-6 {
  margin-top: 0;
}
#product-container .row .col-md-6 .row #preview1 {
  float: right;
  height: 100px;
  width: 150px !important;
  cursor: pointer;
}
#product-container .row .col-md-6 .row #preview2 {
  float: left;
  height: 100px;
  width: 150px !important;
  cursor: pointer;
}
#product-container .row .col-md-12 h3 {
  margin-bottom: 20px;
  margin-left: 20px;
  text-decoration: underline;
}
#product-container .row .col-md-12 p {
  margin-left: 50px;
}

/*RECOMMENDATIONS*/
#recommendation-container {
  margin-bottom: 50px;
}
#recommendation-container h2 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-decoration: underline;
}
#recommendation-container form .card {
  width: 250px;
  margin: auto;
}
#recommendation-container form .card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*ACCOUNT*/
#account-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#account-container .row {
  margin: auto;
  padding: 0 20px;
  background-color: white;
}
#account-container .row h2 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
#account-container .row p {
  font-weight: bold;
}
#account-container .row #change-password-btn {
  margin: 20px 0;
  float: right;
}
#account-container .row #change-details-btn {
  margin: 20px 0;
}

#change-password {
  margin-top: 50px;
}
#change-password #change-password-table {
  background: white;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
#change-password #change-password-table .row {
  margin: 20px auto;
}
#change-password #change-password-table .row label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#change-password #change-password-table .row button {
  margin: 20px auto 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#change-details {
  margin-top: 50px;
}
#change-details #change-details-table {
  background: white;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
#change-details #change-details-table .row {
  margin: 20px auto;
}
#change-details #change-details-table .row label, #change-details #change-details-table .row input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#change-details #change-details-table .row button {
  margin: 20px auto 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/*CART*/
#cart-table {
  margin-top: 20px;
}
#cart-table .prod-row {
  margin: 20px;
  border-bottom: 1px solid black;
}
#cart-table .prod-row .cart-col {
  padding: 5px;
}
#cart-table .prod-row .cart-col img {
  width: 100%;
  height: 100%;
}
#cart-table .prod-row .cart-col input {
  width: 50px;
}
#cart-table .prod-row .price div {
  font-size: 20px;
}
#cart-table .prod-row .trash .fa {
  color: red;
}
#cart-table #sum-row {
  margin: 20px;
}
#cart-table #sum-row .col-md-11 {
  font-size: 20px;
  padding: 5px;
}
#cart-table #sum-row .col-md-1 #sum-box {
  font-size: 20px;
}
#cart-table #pay-row {
  margin: 15px;
  padding: 10px;
  background-color: white;
}
#cart-table #pay-row .col-md-8 {
  margin-bottom: 10px;
}

/*CONFIRMATION*/
#confirmation-container {
  background-color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#confirmation-container .row {
  margin: auto;
  padding: 20px;
  background-color: white;
}
#confirmation-container .row h2 {
  margin-bottom: 50px;
  text-align: center;
}

/*FAVOURITES*/
#fav-table {
  margin-top: 40px;
  margin-bottom: 30px;
}
#fav-table .row {
  margin: 20px auto;
}
#fav-table .row .col-md-3 {
  margin-bottom: 20px;
}

/*SIGNIN*/
#signin .row {
  margin-top: 60px;
  width: 100%;
}
#signin .row form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
#signin .row form p {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#signin .row form i {
  float: right;
}
#signin .row form button {
  width: 100%;
  margin-top: 20px;
}

#address {
  margin-top: 40px;
  width: 100%;
}
#address form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
#address form .row {
  margin: 20px auto;
}
#address form .row label, #address form .row input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#address form p {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#address form i {
  float: right;
}
#address form button {
  display: block;
  margin: 50px auto 0 auto;
}

/*FOOTER*/
.footer {
  background-color: black;
  padding: 20px 20px 1px 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.footer .row {
  color: white;
  margin-left: 30px;
  margin-bottom: 10px;
}
.footer .row .col-md-2 :not(:first-child) {
  font-size: small;
}
.footer .row .col-md-2 :not(:first-child) .head {
  font-size: medium;
  text-decoration: underline !important;
}
.footer #footer-line {
  width: 80%;
  border-bottom: 1px solid white;
  margin: 0px auto 10px auto;
}
.footer #bragging {
  color: white;
  text-align: center;
  font-size: x-small;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 765px) {
  /*MAIN PAGE*/
  /*NAVBAR*/
  #navbar-custom {
    margin-bottom: 0;
    border-bottom: 2px black solid;
  }
  #navbar-custom .input-group {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /*MAIN MENU*/
  #menu {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #menu #main-row {
    margin: 0;
    width: 100%;
  }
  #menu #main-row button {
    text-align: center;
  }
  #menu .categories {
    border: none;
  }
  #menu #omadiki {
    display: none;
  }
  #menu .dropend {
    padding-right: 0;
  }
  #menu .categories .dropdown-toggle {
    display: none;
  }
  #menu .dropdown-menu {
    display: none !important;
  }
  /*NEW*/
  #new-title {
    margin: 0 auto;
  }
  /*PRODUCT PAGE*/
  #product-container {
    display: block;
    margin: 0 auto;
    width: 80vw;
  }
  #product-container #preview1, #product-container #preview2 {
    float: none !important;
    display: block !important;
    margin: 20px auto !important;
  }
  #product-container #product-info {
    font-size: 16px;
    max-width: 80vw;
  }
  #product-container #product-description {
    font-size: 12px;
    max-width: 80vw;
  }
  #recommendation-container .col-md-3 {
    display: block;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
  }
  #recommendation-container form .card {
    margin: auto;
  }
  /*ACCOUNT PAGE*/
  #account-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
  }
  #account-container .row .col-md-6 {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  #account-container .row button {
    font-size: 14px;
  }
  #account-container .row #change-password-btn, #account-container .row #change-details-btn {
    float: none;
    margin: 10px 0;
  }
  /*CONFIRMATION PAGE*/
  #confirmation-table #confirmation-container {
    width: 80vw;
    padding: 20px 0;
  }
  #confirmation-table #confirmation-container .col-md-6 {
    width: 50%;
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */
