<div class="max-w-7xl mx-auto border border-solid border-gray-200">
    <div class="max-w-6xl container mx-auto p-5 space-y-2 lg:space-y-0 lg:gap-2 lg:grid lg:grid-cols-4 grid-cols-2">
        <div class="text-left w-5/6">
            <p class="text-lg font-bold text-center">HELP</p>
            <mat-divider class="py-2"></mat-divider>
            <p><a><mat-icon class="text-base align-middle text-center">home</mat-icon>Store</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">people</mat-icon>About Us</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">email</mat-icon>Contact Us</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">card_giftcard</mat-icon>Buy a Giftcard</a></p>
        </div>
        <div class="text-left w-5/6">
            <p class="text-lg font-bold text-center">INFORMATION</p>
            <mat-divider class="py-2"></mat-divider>
            <p><a><mat-icon class="text-base align-middle text-center">language</mat-icon>Ecological Packaging</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">insert_drive_file</mat-icon>Terms & Privacy</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">assignment_return</mat-icon>Returns</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">directions_car</mat-icon>Shipment Information</a></p>
        </div>
        <div class="text-left w-5/6">
            <p class="text-lg font-bold text-center">ACCOUNT</p>
            <mat-divider class="py-2"></mat-divider>
            <p><a><mat-icon class="text-base align-middle text-center">person</mat-icon>Account</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">favorite</mat-icon>Wish List</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">calendar_today</mat-icon>Order History</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">open_in_new</mat-icon>Register an Account</a></p>
        </div>
        <div class="text-left w-5/6">
            <p class="text-lg font-bold text-center">THE STORE</p>
            <mat-divider class="py-2"></mat-divider>
            <p><a><mat-icon class="text-base align-middle text-center">place</mat-icon>22 Street, Town</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">phone</mat-icon>+12 345 6789123</a></p>
            <p><a><mat-icon class="text-base align-middle text-center">access_time</mat-icon>Mon-Fri: 09:00 - 21:00</a></p>
        </div>
    </div>
</div>